on:
  workflow_call:
    inputs:
      url:
        description: Remote git url to pull from.
        required: true
        type: string
      branch:
        default: HEAD
        description: Remote branch to merge.
        required: false
        type: string

permissions:
  contents: write # to push branch
  pull-requests: write # to create pr

jobs:
  merge_upstream:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - run: git remote add upstream ${{ inputs.url }}
      # merge instead of rebase
      - run: git config pull.rebase false
      - run: |
          if ! git pull --allow-unrelated-histories upstream ${{ inputs.branch }}; then
            # keep files deleted by us deleted
            git status --porcelain | awk '{if ($1=="DU") print $2}' | xargs -tr -d '\n' -I '{}' git rm '{}'
            GIT_EDITOR=true git merge --continue
          fi
        env:
          GIT_AUTHOR_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
          GIT_AUTHOR_NAME: github-actions[bot]
          GIT_COMMITTER_EMAIL: 41898282+github-actions[bot]@users.noreply.github.com
          GIT_COMMITTER_NAME: github-actions[bot]
      - uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          branch: merge-upstream
          title: Merge upstream
          body: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          commit-message: |
            Merge upstream

            ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
